.header {
    width: 100%;
    height: auto;
    background: black;
    padding: 20px;
    box-sizing: border-box;
}

.header-content {
    color: rgb(230, 243, 112);
    justify-content: center;
    
}