body {
    background:url('/images/background.jpg') no-repeat center center fixed;
    background-size: 50%;
    margin-bottom: 3000px;
}



/* body {
    background:url('/images/background.jpg');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */